
  - id: 'telegram_frontdoor_open'
    alias: 'Telegram bot to notify on door open'
    trigger:
      platform: state
      entity_id: sensor.visonic_z02
      value_template: '{{ states.sensor.visonic_z02.attributes.device_tripped }}'
      from: 'No'
      to: 'Yes'
    action:
      service: notify.telegram_test
      data:
        message: Front door open
  - id: 'telegram_alarm_av'
    alias: 'Telegram bot to notify on disarm'
    trigger:
      platform: state
      entity_id: alarm_control_panel.visonic_alarm
      to: 'disarmed'
    action:
      service: notify.telegram_test
      data:
        message: Avlarmat hemma
  - id: 'telegram_alarm_pa'
    alias: 'Telegram bot to notify on armed'
    trigger:
      platform: state
      entity_id: alarm_control_panel.visonic_alarm
      to: 'armed_away'
    action:
      service: notify.telegram_test
      data:
        message: Larmat hemma
  - id: 'telegram_boot'
    alias: 'Telegram bot to notify on boot'
    trigger:
      platform: homeassistant
      event: start
    condition: []
    action:
      service: notify.telegram_test
      data:
        message: Home Assistant on Pi booted
